/* Brant Safrit */

/* Style Reset */
/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* VARIABLES */
:root {
    --yellow: #F6D64A;
    --teal: #55BCD5;
    --purple: #9B26B0;
    --blue: #499BD2;
    --darkGray: #222222;
    --lightGray: #EAEAEA;
    --white: #FFFFFF;
    --black: #000000;
    --molleFont: 'Molle', cursive;
    --monsterratFont: 'Montserrat', sans-serif;
}
/* SKIP LINK */
#skip {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#skip:focus {
    position: static;
    width: auto;
    height: auto;
}
/* ---------BODY STYLES-------- */
body {
    color:var(--black);
    font-family:var(--monsterratFont);
    line-height:2rem; 
}
header {
    background:linear-gradient(var(--teal),white);
}
header p {
    padding-left: 2rem;
}
#logo img {
    max-width:50vw;
    padding-top:5vw 
}
h1, h2, h3{
    font-family:var(--molleFont);
    font-weight: 400;
    font-style: italic;
}
h1 {
    font-size:3.5rem;
    font-weight:400;
    padding:.5rem 2rem 0;
}
h2 {
    font-size:3rem;
    font-weight:400;
}
h3 {
    justify-self:left;
    font-size:2.5rem;
    font-weight:400;
    padding: 1.5rem;
}
h4 {
    font-size:1rem;
    font-weight:700;
    text-align:center;
    text-transform:uppercase;
}
p,q,nav a,form {
    font-family:var(--monsterratFont) 
}
.sr-only {
    height:1px;
    left:-10000px;
    overflow:hidden;
    position:absolute;
    top:auto;
    width:1px;
}

/* Menu */
#menu-toggle label {
    background-color:var(--yellow);
    font-weight:700;
    padding:10px 60px 
}
#menu-toggle input {
    display:none 
}
#menu-toggle {
    position:absolute;
    right:0;
    top:40px;
    user-select:none;
}
#menu-toggle ul {
    background-color:var(--teal);
    display:none;
    position:relative;
    width:100vw; 
}
#menu-toggle li {
    align-items:center;
    border-bottom:solid var(--black) 1px;
    display:flex;
    font-weight:700;
    height:10vh;
    justify-content:center;
}
#menu-toggle li a {
    color:var(--black);
    text-decoration:none;
    text-transform:uppercase;
}
#menu-toggle input:checked ~ label {
    align-items:center;
    background-color:var(--black);
    color:var(--white);
}
#intro {
    padding-top:3rem;
}

/*Images*/
#img-grid {
    display:grid;
    gap:15px;
    grid-template-columns:1fr;
    grid-template-rows:repeat(2,33.33%) auto;
    padding-bottom:6rem;
    width:100%;
}
#img-grid picture,#img-grid img {
    height:100%;
    object-fit:cover;
    width:100%;
}
#intro h2,#intro p {
    grid-column-end:-1;
    grid-column-start:1;
    padding:.2rem 2rem 1rem;
}

/*Plan*/
#plan div {
    display:grid;
    gap:10px;
    grid-template-columns:auto;
    grid-template-rows:repeat(4,1fr);
    justify-content:center;
}
#plan {
    background-color:var(--yellow);
    padding-bottom:20px;
}
#plan div section {
    background-color:var(--teal);
    border:3px var(--white) solid;
    border-radius:10px;
    display:grid;
    grid-template-rows:repeat(2,auto);
    justify-items:center;
    padding:10px;
}

/*Testimonials*/
#testimonials section {
    display:grid;
    justify-items:center;
    margin:15px;
}
#testimonials q {
    line-height: 1.5rem;
    max-width:300px;
    text-align:center;
}

/*About*/
#about {
    background-color:var(--blue);
    display:grid;
    justify-items:center;
}
#about div {
    display:grid;
    gap:1rem;
    grid-template-columns:50% 50%;
    grid-template-rows:50% 50%;
    margin-bottom:2rem;
}
#about section {
    align-items:center;
    display:grid;
    grid-column:span 1;
    justify-items:center 
}
#about img {
    height:100px;
    width:100px; 
}

/*Contact*/
#contact h3 span {
    font-family:var(--monsterratFont);
    font-size:1rem;
    font-style:italic;
}
#contact input,#contact select {
    background-color:transparent;
    border:var(--purple) solid 3px;
    color:var(--darkGray);
}
#contact form {
    display:grid;
    margin:0 10vw;
}
#contact form input,#contact select {
    border-radius:0;
    height:5vh;
}

#contact input[type="radio"] {
    accent-color:var(--purple);
    height:40px;
    width:30px;
}
#contact label[for^="pref"] {
    align-items:center;
    display:flex;
    font-weight:400;
}
fieldset {
    align-items:center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
}
#contact #mySubmit {
    background-color:var(--purple);
    color:var(--white);
    margin-top:10px;
    text-transform:uppercase;
}
footer {
    align-items:center;
    background-color:var(--lightGray);
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-top:4vh;
}
footer a {
    padding:5px;
    text-decoration:none;
}
#menu-toggle input:checked ~ ul,#menu-toggle input:checked ~ label,#contact,#contact form div {
    display:flex;
    flex-direction:column;
}

/* Begin medium format */
@media screen and (min-width: 780px) {
    #about div {
        display:grid;
        grid-template-columns:repeat(4,1fr);
        grid-template-rows:1fr;
        margin:0 10vw;
        padding:0
        }
        
        #about h3 {
        justify-self:left
        }
        
        #contact {
        margin:0 10vw
        }
        
        #contact form input {
        height:4vh
        }
        
        #contact form input,#contact select {
        height:6vh
        }
        
        #contact h3 {
        display:flex;
        margin-left:5vw
        }
        
        #img-grid {
        gap:10px;
        grid-template-columns:40vw 40vw;
        grid-template-rows:50% 50%;
        overflow:hidden;
        padding-bottom:3rem
        }
        
        #img-grid img:first-child {
        grid-column:2;
        grid-row:1
        }
        
        #img-grid img:nth-child(2) {
        grid-column:1
        }
        
        #img-grid picture {
        grid-column:1 / -1
        }
        
        #intro {
        display:flex;
        flex-direction:column;
        justify-content:center;
        margin:0 8vw
        }
        
        #logo img {
        align-items:center;
        max-width:30vw
        }
        
        #menu-toggle {
        align-items:center;
        position:static
        }
        
        #menu-toggle .active {
        background-color:var(--yellow)
        }
        
        #menu-toggle li {
        background-color:var(--lightGray);
        border:none;
        font-weight:bold;
        height:8vh
        }
        
        #menu-toggle li:hover {
        background-color:var(--yellow)
        }
        
        #menu-toggle ul {
        background-color:transparent;
        display:grid;
        gap:10px;
        grid-template-columns:1fr 1fr 1fr 1fr;
        width:75vw
        }
        
        #mySubmit {
        font-size:1rem;
        margin-bottom:10px;
        position:relative;
        right:-30vw;
        top:30px;
        width:50%
        }
        
        #plan div {
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr;
        margin:0 10vw
        }
        
        #plan h3,#testimonials h3,#about h3 {
        margin:0 10vw;
        padding:5vh 0 2vh
        }
        
        #testimonials div {
        display:grid;
        grid-template-columns:1fr 1fr;
        margin:0 10vw
        }
        
        #toggle,label[for="toggle"] {
        display:none
        }
        
        fieldset {
        display:flex;
        flex-direction:row;
        justify-content:space-between
        }
        
        footer {
        display:grid;
        font-size:.75rem;
        gap:15px;
        grid-template-columns:repeat(3,auto);
        justify-items:center
        }
        
        header {
        display:grid;
        grid-template-columns:20vw 1fr;
        grid-template-rows:repeat(2,auto)
        }
        
        header h1 {
        font-size:4rem;
        position:relative;
        top:30%
        }
        
        header h1,header p {
        display:grid;
        grid-column:2 / -1;
        grid-row:1 /2
        }
        
        header p {
        font-size:1.3rem;
        max-width:80%;
        padding-top:20px;
        position:relative;
        top:50%
        }
        
        nav {
        display:grid;
        grid-column:1 / -1;
        justify-items:center;
        margin-top:5vh
        }
}
/* Begin large format */
@media screen and (min-width: 1200px) {
    #about {
        padding-bottom:8vh
        }
        
        #about div {
        gap:3rem
        }
        
        #contact fieldset {
        max-width:100%;
        min-width:100%
        }
        
        #contact form {
        display:grid;
        gap:25px;
        grid-template-columns:repeat(3,33.33%);
        margin:0;
        width:90%
        }
        
        #contact form input,#contact select {
        height:5vh
        }
        
        #contact h3 {
        grid-column:1/-1;
        margin:0;
        padding:10vh 0 0
        }
        
        #intro {
        display:grid;
        grid-template-columns:42% 1fr;
        grid-template-rows:repeat(3,auto);
        margin-top:10vh
        }
        
        #intro #img-grid {
        grid-column:2/3;
        grid-template-columns:50% 50%;
        width:100%
        }
        
        #intro h2 {
        grid-column:1/2;
        grid-row:1/2
        }
        
        #intro p {
        grid-column:1/2;
        grid-row:1/2;
        line-height:1.5;
        position:relative;
        top:10vh
        }
        
        #logo img {
        max-width:20vw;
        padding-top:7vh
        }
        
        #menu-toggle li {
        height:5vh
        }
        
        #menu-toggle ul {
        width:50vw
        }
        
        #mySubmit {
        right:-12vw
        }
        
        #plan div {
        display:grid;
        grid-template-columns:repeat(4,25%);
        grid-template-rows:auto;
        justify-content:center;
        margin:2vh 10vw
        }
        
        #plan h3 {
        margin:0 9vw;
        padding:5vh 0 0
        }
        
        #plan section {
        min-width:60%
        }
        
        #testimonials div {
        display:grid;
        grid-template-columns:1fr 1fr 1fr 1fr
        }
        
        footer {
        grid-template-columns:1fr 12% 20%;
        justify-items:start
        }
        
        footer a:last-child {
        margin-right:9vw
        }
        
        footer p {
        margin-left:9vw
        }
        
        header {
        grid-template-columns:15vw 1fr
        }
        
        header h1 {
        top:8vw
        }
        
        header p {
        top:10vw
        }
        
        nav {
        margin:0;
        position:absolute;
        right:0;
        top:0
        }
}